TERRAFORM_BACKEND_STORAGE_ACCOUNT_NAME: stgtfbackenddev2
TERRAFORM_BACKEND_CONTAINER_NAME: cnt-tf-backend
TF_VAR_AZ_SPN_DISPLAY_NAME: spn-dev-platform-analytics-mfe
TF_VAR_AZ_REGION: eastus
TF_VAR_RESOURCE_GROUP_NAME: rg-plat-mlstudio-tf
TF_VAR_MANAGED_IDENTITY_NAME: mi-plat-mlstudio-dev
TF_VAR_TAGS: '{"Cost_Center_ID":"474000","Customer":"Internal","Environment_Type":"Dev","Product_Group":"Luminate Platform","Created_By":"Terraform"}'
COST_CENTER_ID_TAG: 474000
CUSTOMER_TAG: Internal
ENVIRONMENT_TYPE_TAG: Dev
PRODUCT_GROUP_TAG: "Luminate Platform"
TF_VAR_VNET:
  NAME: vnet-plat-mlstudio-dev
  ADDRESS: "10.1.0.0/16"
TF_VAR_APPGW_SUBNET:
  NAME: appgwsubnet
  ADDRESS_PREFIX: 10.1.0.0/24
TF_VAR_AKS_SUBNET:
  NAME: akssubnet
  ADDRESS_PREFIX: 10.1.16.0/20
TF_VAR_PUBLIC_IP:
  NAME: public-ip-plat-mlstudio-dev
  ALLOCATION_METHOD: Static
  SKU: Standard
TF_VAR_APP_GATEWAY:
  NAME: appgw-plat-mlstudio-dev
  SKU_NAME: WAF_v2
  SKU_TIER: WAF_v2
  SKU_CAPACITY: 2
TF_VAR_AKS:
  NAME: aks-plat-mlstudio-dev
  NETWORK_PLUGIN: azure
  DNS_PREFIX: mlstudio-dev
  DEFAULT_NODE_POOL:
    COUNT: 1
    VM_SIZE: Standard_B2s
    OS: Ubuntu
    ENABLE_AUTOSCALING: false
    TYPE: VirtualMachineScaleSets
    OS_DISK_SIZE: 128
    MAX_PODS: 30
    ENABLE_NODE_PUBLIC_IP: false
  NAMESPACE_NAME: jupyterhub-mlstudio
HELM_CHART_NAME: jupyterhub-mlstudio
