TERRAFORM_BACKEND_STORAGE_ACCOUNT_NAME: stgtfbackenddev2
TERRAFORM_BACKEND_CONTAINER_NAME: cnt-tf-backend
TF_VAR_AZ_REGION: eastus
TF_VAR_RESOURCE_GROUP_NAME: rg-plat-mlstudio-tf
TF_VAR_MANAGED_IDENTITY_NAME: mi-plat-mlstudio-dev
TF_VAR_TAGS: '{"Cost_Center_ID":"474000","Customer":"Internal","Environment_Type":"Dev","Product_Group":"Luminate Platform","Created_By":"Terraform"}'
TF_VAR_VNET:
  NAME: vnet-plat-mlstudio-dev
  ADDRESS: "10.1.0.0/16"
TF_VAR_APPGW_SUBNET:
  NAME: appgwsubnet
  ADDRESS_PREFIX: 10.1.0.0/24
TF_VAR_AKS_SUBNET:
  NAME: akssubnet
  ADDRESS_PREFIX: 10.1.16.0/20
TF_VAR_PUBLIC_IP:
  NAME: public-ip-plat-mlstudio-dev
  ALLOCATION_METHOD: Static
  SKU: Standard
TF_VAR_APP_GATEWAY:
  NAME: appgw-plat-mlstudio-dev
  SKU_NAME: WAF_v2
  SKU_TIER: WAF_v2
  SKU_CAPACITY: 2
TF_VAR_AKS:
  NAME: aks-plat-mlstudio-dev
  NETWORK_PLUGIN: azure
  SERVICE_CIDR: 10.0.0.0/16
  DNS_SERVICE_IP: 10.0.0.10
  DNS_PREFIX: mlstudio-dev
  DEFAULT_NODE_POOL:
    COUNT: 1
    VM_SIZE: Standard_B2s
    OS: Ubuntu
    ENABLE_AUTOSCALING: false
    TYPE: VirtualMachineScaleSets
    OS_DISK_SIZE: 128
    MAX_PODS: 30
    ENABLE_NODE_PUBLIC_IP: false

DEPLOYMENT_NAME: mlstudio-infra-dev
INSTANCE_ID: "01"
PRIMARY_REGION_SHORT: eus2
APP_OBJECT_ID: e5593d7d-429c-4bfc-98a3-c90f57026c97
VNET_RESOURCE_GROUP_NAME: rg-plat-mlstudio-dev

VNET_ROUTE_TABLE: udr-plat-mls-dev
VNET_CIDR_APPGW: "10.75.73.32/27"
LETSENCRYPT_PUBLIC_CERTIFICATE_NAME: letsencrypt-plat-mls-dev
LETSENCRYPT_PRIVATE_CERTIFICATE_NAME: letsencrypt-plat-mls-dev-private
OAS_CONTAINER_NAME: staticcontent
APP_GATEWAY_PRIVATE_IP_ADDRESS: "10.75.73.60"
APIM_PRIVATE_IP_ADDRESS: "10.75.73.6"
USER_OBJECT_IDS_FOR_KV_ACCESS: "c666315a-eaec-435f-b5c5-28147df365c6,3812da36-c81b-4150-940c-69b841583788,4be1cf51-3e0c-4847-810a-12381ffbc592,5455036c-9411-476c-a60c-148128fe8f69"
